:root {
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}

@media (max-width: 768px) {
  input,
  textarea,
  select,
  button {
    font-size: 16px !important;
  }

  .mantine-Tooltip-tooltip {
    display: none !important;
  }
}
